h1 {
    color: white;
    background-color: black;
}

.container {
    max-width: 600px;
}

#updateBtn {
    background-color: green;
    border-color: green;
}

#logoutBtn {
    background-color: red;
    border-color: red;
}